In [1]:
# 필요한 라이브러리를 불러오겠습니다. 
import pandas as pd

# 1. raw 파일 불러오기

- 일자/노선/지하철역별 승하차고객수
- 19년 상반기(19년1월~19년6월)

./rawfiles 폴더의 파일들을 살펴볼께요

In [2]:
# 작업할 여러개의 파일 중 하나의 파일을 불러오겠습니다. 
file = './rawfiles/CARD_SUBWAY_MONTH_201901.csv'
raw = pd.read_csv(file)

In [3]:
raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  경춘선  1323   가평    1520    1436  20190104
1  20190101  경춘선  1322   상천     275     114  20190104
2  20190101  경춘선  1321   청평    1509    1083  20190104
3  20190101  경춘선  1320  대성리     357     271  20190104
4  20190101  경춘선  1319   마석    1772    1963  20190104

In [4]:
# info() 를 이용해 데이터 구조를 살펴볼 수 있습니다. 
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18334 entries, 0 to 18333
Data columns (total 7 columns):
사용일자      18334 non-null int64
노선명       18334 non-null object
역ID       18334 non-null int64
역명        18334 non-null object
승차총승객수    18334 non-null int64
하차총승객수    18334 non-null int64
등록일자      18334 non-null int64
dtypes: int64(5), object(2)
memory usage: 1002.8+ KB

---

## 참고) 판다스로 파일 읽어오기

### 데이터 파일 읽기: read_excel    /   read_csv
- `pd.read_excel`('파일경로+파일명.xlsx')

- pd.read_csv('파일경로+파일명.csv', encoding = 'utf-8')
- pd.read_csv('파일경로+파일명.csv', encoding = 'cp949')   # MS 엑셀에서 저장한 경우

#### 자주 사용하는 옵션
- pd.read_excel('파일경로', `옵션1` = 값1, `옵션2` = 값2 ....)
- 옵션 종류
    - index_col  = 컬럼인덱스번호       # 몇번째 컬럼을 인덱스로 지정할 것인지 선택
    - header = row인덱스번호    # 몇번째 row 부터 표 데이터로 볼 것인지 선택
    - thousands = ','       # 천 단위 기호 ,  사용 -->  xxx,xxx  문자가 아닌 숫자로 인식
    
##### 참고   https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

---

In [6]:
# 이번엔 여러 파일을 불러오겠습니다. 
# 2개 파일 불러와서 합치기!!!!

raw = pd.DataFrame()  # 빈 데이터 셋을 만들고
raw.head()

# 첫 번째 파일
file = './rawfiles/CARD_SUBWAY_MONTH_201901.csv'
temp = pd.read_csv(file)
# temp.head()
raw = raw.append(temp)  # 추가하기
raw.head()

# 두 번째 파일
file = './rawfiles/CARD_SUBWAY_MONTH_201902.csv'
temp = pd.read_csv(file)
raw = raw.append(temp)  # 추가하기

raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34877 entries, 0 to 16542
Data columns (total 7 columns):
사용일자      34877 non-null int64
노선명       34877 non-null object
역ID       34877 non-null int64
역명        34877 non-null object
승차총승객수    34877 non-null int64
하차총승객수    34877 non-null int64
등록일자      34877 non-null int64
dtypes: int64(5), object(2)
memory usage: 2.1+ MB

####    Q) 폴더에 있는 모든 파일을 불러와서 병합할 수 있을까?

In [ ]:
# 폴더/파일을 관리하는 os 라이브러리를 불러옵니다. 
import os

In [7]:
# os.listdir()을 이용해 rawfiles 폴더에 있는 파일 리스트를 살펴보겠습니다. 
dirpath = './rawfiles/'
files = os.listdir(dirpath)
files

['CARD_SUBWAY_MONTH_201901.csv',
 'CARD_SUBWAY_MONTH_201902.csv',
 'CARD_SUBWAY_MONTH_201903.csv',
 'CARD_SUBWAY_MONTH_201904.csv',
 'CARD_SUBWAY_MONTH_201905.csv',
 'CARD_SUBWAY_MONTH_201906.csv']

In [8]:
# 여러개의 파일을 병합하겠습니다. 

# 빈 데이터프레임 준비하기
raw = pd.DataFrame() 

# 파일 하나씩 불러들여 합치기
for file in os.listdir('./rawfiles'):
#     print(file)
    fpath = './rawfiles/'+file
    print(fpath)
    temp = pd.read_csv(fpath)
    raw = raw.append(temp, ignore_index = True)   #ignore_index = True  --> 기존 인덱스는 무시하고

./rawfiles/CARD_SUBWAY_MONTH_201901.csv
./rawfiles/CARD_SUBWAY_MONTH_201902.csv
./rawfiles/CARD_SUBWAY_MONTH_201903.csv
./rawfiles/CARD_SUBWAY_MONTH_201904.csv
./rawfiles/CARD_SUBWAY_MONTH_201905.csv
./rawfiles/CARD_SUBWAY_MONTH_201906.csv

----

### 데이터 살펴보기:  data.head(),  data.info(),  data.describe()

In [9]:
raw.head(10)

       사용일자  노선명   역ID    역명  승차총승객수  하차총승객수      등록일자
0  20190101  경춘선  1323    가평    1520    1436  20190104
1  20190101  경춘선  1322    상천     275     114  20190104
2  20190101  경춘선  1321    청평    1509    1083  20190104
3  20190101  경춘선  1320   대성리     357     271  20190104
4  20190101  경춘선  1319    마석    1772    1963  20190104
5  20190101  경춘선  1318   천마산     787     765  20190104
6  20190101  경춘선  1317  평내호평    2649    2661  20190104
7  20190101  경춘선  1316    금곡     734     726  20190104
8  20190101  경춘선  1315    사릉    1347    1534  20190104
9  20190101  경춘선  1314   퇴계원    1542    1516  20190104

In [10]:
raw.tail()

           사용일자  노선명  역ID     역명  승차총승객수  하차총승객수      등록일자
99337  20190630  2호선  204  을지로4가    4940    4668  20190703
99338  20190630  2호선  203  을지로3가   12043   11854  20190703
99339  20190630  2호선  202  을지로입구   31622   29723  20190703
99340  20190630  2호선  201     시청   10178    8214  20190703
99341  20190630  1호선  159    동묘앞   13859   14352  20190703

In [11]:
# 데이터는 이렇게 생겼어요. 
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99342 entries, 0 to 99341
Data columns (total 7 columns):
사용일자      99342 non-null int64
노선명       99342 non-null object
역ID       99342 non-null int64
역명        99342 non-null object
승차총승객수    99342 non-null int64
하차총승객수    99342 non-null int64
등록일자      99342 non-null int64
dtypes: int64(5), object(2)
memory usage: 5.3+ MB

---

#### Q) 요일을 추가 할 수 있을까?

In [13]:
# 일시를 관리하는 datetime 라이브러를 불러오겠습니다. 
from datetime import datetime

datetime.strptime('날짜str', `str형태`)  : 문자 --> 날짜 타입

- `str형태` %Y-%m-%d %H:%M:%S
    - %Y : 연도(4자리)
    - %m:  월(2자리)
    - %d:  일자(2자리)
    
    - %H : 시간
    - %M : 분
    - %S : 초

In [14]:
# datetime.strptime()를 이용해 str 타입을  날짜 타입으로 변경하겠습니다.
# datetime.strptime('날짜str', 형태)
date_str = str(20190601)     # 숫자가 아닌 문자로 입력되어야 합니다. 
date = datetime.strptime(date_str, "%Y%m%d")
date

datetime.datetime(2019, 6, 1, 0, 0)

In [15]:
# 날짜 타입을 요일로 변경하기 위해서는 weekday() 를 사용합니다. 
# 월요일 : 0 ~ 일요일 : 6
weekday = date.weekday()
weekday

5

In [16]:
# 날짜 컬럼을 불러와서, 순서대로 요일을 점검하여 리스트에 저장하겠습니다. 

weekday_dict = [ '월','화','수','목','금','토','일']
weekday_list = []

for date_str in raw['사용일자']:
    date = datetime.strptime(str(date_str), "%Y%m%d")
    weekday_index  = date.weekday()
    weekday = weekday_dict[weekday_index]
    weekday_list.append(weekday)

['화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '화',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 '수',
 ...]

In [17]:
# 요일정보가 저장된 리스트를 컬럼에 추가하겠습니다. 
raw['요일'] = weekday_list
raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자 요일
0  20190101  경춘선  1323   가평    1520    1436  20190104  화
1  20190101  경춘선  1322   상천     275     114  20190104  화
2  20190101  경춘선  1321   청평    1509    1083  20190104  화
3  20190101  경춘선  1320  대성리     357     271  20190104  화
4  20190101  경춘선  1319   마석    1772    1963  20190104  화

In [18]:
# 요일을 사용일자 다음에 나오도록 컬럼 순서를 변경하겠습니다. 

# 현재 컬럼명 확인
raw.columns

Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자', '요일'], dtype='object')

In [19]:
# 요일을 사용일자 다음에 나오도록 컬럼 순서를 변경하겠습니다. 

# 사용하고 싶은 컬럼을 원하는 순서대로 입력합니다. 
new_columns = ['사용일자',  '요일', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자']
raw = raw[ new_columns ]
raw.head()

       사용일자 요일  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  화  경춘선  1323   가평    1520    1436  20190104
1  20190101  화  경춘선  1322   상천     275     114  20190104
2  20190101  화  경춘선  1321   청평    1509    1083  20190104
3  20190101  화  경춘선  1320  대성리     357     271  20190104
4  20190101  화  경춘선  1319   마석    1772    1963  20190104

# 2. 정리한 데이터 저장하기

In [20]:
# 작업한 결과를 data 폴더에 저장하겠습니다. 
raw.to_excel('./data/subway_raw.xlsx', index = False)