## pandasEDA

- 코로나 바이러스 데이터와 함께 pandas 라이브러리 익히기
- COVID-19-master 폴더 확인

### feature(컬럼) 상세하게 탐색하기

In [1]:
import pandas as pd
PATH = "COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"
doc = pd.read_csv(PATH + "04-01-2020.csv", encoding='utf-8-sig')

In [2]:
doc.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

#### 데이터프레임에서 Series 추출하기
* 몇개의 국가가 있는 데이터일까?

In [3]:
countries=doc['Country_Region']

#### Series 로 feature를 보다 상세하게 탐색하기
- size : 사이즈 반환
- count() : 데이터가 없는 경우를 뺀 사이즈 반환
- unique(): 유일한 값만 반환
- value_counts(): 데이터가 없는 경우를 제외하고, 각 값의 갯수를 반환

- 결측치가 있는가?

In [7]:
countries.shape

(2483,)

- 중복데이터가 있는가?

In [5]:
countries.value_counts()

US                                  2228
China                                 33
Canada                                15
United Kingdom                        10
France                                10
Australia                              8
Netherlands                            4
Denmark                                3
Nigeria                                1
Korea, South                           1
Kosovo                                 1
Mozambique                             1
Cameroon                               1
Fiji                                   1
Andorra                                1
Cyprus                                 1
Spain                                  1
Honduras                               1
Costa Rica                             1
Maldives                               1
Eritrea                                1
Barbados                               1
Greece                                 1
Saint Vincent and the Grenadines       1
Montenegro                             1
Equatorial Guinea                      1
Malaysia                               1
Bhutan                                 1
Kenya                                  1
Niger                                  1
                                    ...
Namibia                                1
Sweden                                 1
Chad                                   1
Israel                                 1
Armenia                                1
Brazil                                 1
Norway                                 1
Austria                                1
Saudi Arabia                           1
Laos                                   1
Indonesia                              1
Liberia                                1
Cambodia                               1
Sri Lanka                              1
Ireland                                1
Antigua and Barbuda                    1
Congo (Kinshasa)                       1
Haiti                                  1
New Zealand                            1
Mauritania                             1
Colombia                               1
Taiwan*                                1
West Bank and Gaza                     1
United Arab Emirates                   1
Dominica                               1
Ghana                                  1
Uruguay                                1
Dominican Republic                     1
Mexico                                 1
Peru                                   1
Name: Country_Region, Length: 180, dtype: int64

- 어떤 feature가 중복데이터를 가지고 있는가?
- 중복데이터가 있다면 얼마만큼인가?

### 필요한 컬럼만 선택하기

In [ ]:
# 중요한 데이터만 선택(확진자, 사망자,회복자)

### 특정 조건에 맞는 row 검색하기

In [ ]:
doc = pd.read_csv(PATH + "04-01-2020.csv", encoding='utf-8-sig')

In [ ]:
# US인 국가만 검색

### 없는 데이터(NaN) 처리하기

- 없는 데이터(결측치) 가 있는지 확인하기
  - isnull() : 없는 데이터가 있는지 확인 (True or False)
  - sum() : 없는 데이터가 있는 행의 갯수 확인 
  - 통상 isnull().sum() 으로 사용

In [ ]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')

#### 없는 데이터 삭제하기
- dropna() : 결측치를 가진 행을 모두 삭제

In [ ]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
doc

In [ ]:
#결측치 제거

#### 특정 컬럼값이 없는 데이터만 삭제하기
  - subset으로 해당 컬럼을 지정해줌

In [37]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
doc = doc.dropna(subset=["Confirmed"])

#### 없는 데이터(NaN)을 특정값으로 일괄 변경하기
- fillna(특정값) : 특정값으로 결측치를 대체

In [ ]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')

#### 없는 데이터(NaN)중 특정 컬럼에 대해 특정 값으로 일괄 변경하기
- 별도 사전 데이터를 생성, 없는 데이터를 변경할 컬럼명만 키로 만들고, 변경할 특정 값을 키값으로 넣고, fillna() 함수에 적용해주면 됨

In [ ]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')

### 특정 키값을 기준으로 데이터 그룹핑
  - groupby() : SQL 구문의 group by 와 동일, 특정 컬럼을 기준으로 그룹
  - sum() : 그룹으로 되어 있는 데이터를 합치기

In [46]:
doc = pd.read_csv(PATH + "04-01-2020.csv", encoding='utf-8-sig')
doc.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [45]:
doc.groupby?

In [55]:
# 국가별로 그룹핑
df= doc.groupby(["Country_Region"])["Active"].agg(['mean'])
df

                           mean
Country_Region
Afghanistan               228.0
Albania                   177.0
Algeria                   728.0
Andorra                   366.0
Angola                      5.0
Antigua and Barbuda         7.0
Argentina                 778.0
Armenia                   536.0
Australia                 552.5
Austria                  9129.0
Azerbaijan                328.0
Bahamas                    19.0
Bahrain                   228.0
Bangladesh                 23.0
Barbados                   34.0
Belarus                   108.0
Belgium                 11004.0
Belize                      3.0
Benin                      12.0
Bhutan                      4.0
Bolivia                   107.0
Bosnia and Herzegovina    427.0
Botswana                    3.0
Brazil                   6469.0
Brunei                     78.0
Bulgaria                  392.0
Burkina Faso              220.0
Burma                      14.0
Burundi                     2.0
Cabo Verde                  5.0
...                         ...
Slovenia                  816.0
Somalia                     4.0
South Africa             1325.0
Spain                   72084.0
Sri Lanka                 122.0
Sudan                       3.0
Suriname                   10.0
Sweden                   4605.0
Switzerland             14313.0
Syria                       8.0
Taiwan*                   285.0
Tanzania                   18.0
Thailand                 1254.0
Timor-Leste                 1.0
Togo                       24.0
Trinidad and Tobago        84.0
Tunisia                   406.0
Turkey                  15069.0
US                          0.0
Uganda                     44.0
Ukraine                   761.0
United Arab Emirates      745.0
United Kingdom           2732.9
Uruguay                   295.0
Uzbekistan                167.0
Venezuela                  99.0
Vietnam                   155.0
West Bank and Gaza        115.0
Zambia                     36.0
Zimbabwe                    7.0

[180 rows x 1 columns]

- groupby 에 의해서, index가 Country_Region 의 각 국가로 변경됨

In [21]:
df[df.index=='US']

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
Country_Region,,,,,,,
US,65168934.0,82956.96013,-197553.963757,213372,4757,8474,0

- index로 검색해서 US 의 합계 검색 가능

In [ ]:
# 미국의 확진자수, 사망자수, 회복자수 표시

### 컬럼 타입 변경하기
- pandas에서 데이터 타입은 dtype 으로 불리우며, 주요 데이터 타입은 다음과 같음
  - object 는 파이썬의 str 또는 혼용 데이터 타입 (문자열)
  - int64 는 파이썬의 int (정수)
  - float64 는 파이썬의 float (부동소숫점)
  - bool 는 파이썬의 bool (True 또는 False 값을 가지는 boolean)

In [ ]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
doc = doc[['Country/Region', 'Confirmed']]
doc.info()

# Confirmed컬럼 float64

- astype({컬럼명: 변경할타입}) : 특정 컬럼의 타입을 변경
  - 변경할 데이터에 없는 데이터(NaN)이 있을 경우, 에러가 날 수 있음

In [ ]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
doc = doc[['Country/Region', 'Confirmed']] # 필요한 컬럼만 선택하기
doc = doc.dropna(subset=['Confirmed'])     # 특정 컬럼에 없는 데이터 삭제하기

In [ ]:
# 확잔자수 int64로 변경

In [ ]:
doc.head()

### 데이터프레임 컬럼명 변경하기
- columns 로 컬럼명을 변경할 수 있음

In [ ]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
doc = doc[['Country/Region', 'Confirmed']] # 필요한 컬럼만 선택하기

In [ ]:
doc.columns

In [ ]:
# 컬럼명 변경

In [ ]:
doc.columns

In [ ]:
# 컬럼명 변경: df.rename() 사용

In [ ]:
doc.columns

### 데이터프레임에서 중복 행 확인/제거하기
- duplicated() : 중복 행 확인하기

In [25]:
# 국가명과 국가기호를 매칭한 데이터
doc = pd.read_csv("COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv", encoding='utf-8-sig')
doc = doc[['iso2', 'Country_Region']]
doc

     iso2          Country_Region
0      BW                Botswana
1      BI                 Burundi
2      SL            Sierra Leone
3      AF             Afghanistan
4      AL                 Albania
5      DZ                 Algeria
6      AD                 Andorra
7      AO                  Angola
8      AG     Antigua and Barbuda
9      AR               Argentina
10     AM                 Armenia
11     AT                 Austria
12     AZ              Azerbaijan
13     BS                 Bahamas
14     BH                 Bahrain
15     BD              Bangladesh
16     BB                Barbados
17     BY                 Belarus
18     BE                 Belgium
19     BZ                  Belize
20     BJ                   Benin
21     BT                  Bhutan
22     BO                 Bolivia
23     BA  Bosnia and Herzegovina
24     BR                  Brazil
25     BN                  Brunei
26     BG                Bulgaria
27     BF            Burkina Faso
28     MM                   Burma
29     CV              Cabo Verde
...   ...                     ...
3530   US                      US
3531   US                      US
3532   US                      US
3533   US                      US
3534   US                      US
3535   US                      US
3536   US                      US
3537   US                      US
3538   US                      US
3539   US                      US
3540   US                      US
3541   US                      US
3542   US                      US
3543   US                      US
3544   US                      US
3545   US                      US
3546   US                      US
3547   US                      US
3548   US                      US
3549   US                      US
3550   US                      US
3551   US                      US
3552   US                      US
3553   US                      US
3554   US                      US
3555   US                      US
3556   US                      US
3557   US                      US
3558   US                      US
3559   US                      US

[3560 rows x 2 columns]

- 중복된 행만 확인하기

In [27]:
doc.value_counts

AttributeError: 'DataFrame' object has no attribute 'value_counts'

- drop_ducplicates() : 중복 행 삭제중복값
  - 특정 컬럼을 기준으로 중복 행 제거하기
    - subset=특정컬럼
  - 중복된 경우, 처음과 마지막 행 중 어느 행을 남길 것인지 결정하기 
    - 처음: keep='first' (디폴트)
    - 처음: keep='last'

In [28]:
doc.drop_duplicates(subset="Country_Region",keep='last')

     iso2          Country_Region
0      BW                Botswana
1      BI                 Burundi
2      SL            Sierra Leone
3      AF             Afghanistan
4      AL                 Albania
5      DZ                 Algeria
6      AD                 Andorra
7      AO                  Angola
8      AG     Antigua and Barbuda
9      AR               Argentina
10     AM                 Armenia
11     AT                 Austria
12     AZ              Azerbaijan
13     BS                 Bahamas
14     BH                 Bahrain
15     BD              Bangladesh
16     BB                Barbados
17     BY                 Belarus
18     BE                 Belgium
19     BZ                  Belize
20     BJ                   Benin
21     BT                  Bhutan
22     BO                 Bolivia
23     BA  Bosnia and Herzegovina
24     BR                  Brazil
25     BN                  Brunei
26     BG                Bulgaria
27     BF            Burkina Faso
28     MM                   Burma
29     CV              Cabo Verde
...   ...                     ...
153    SR                Suriname
154    SE                  Sweden
155    CH             Switzerland
156    SY                   Syria
157    TW                  Taiwan
158    TZ                Tanzania
159    TH                Thailand
160    TL             Timor-Leste
161    TG                    Togo
162    TT     Trinidad and Tobago
163    TN                 Tunisia
164    TR                  Turkey
165    UG                  Uganda
166    UA                 Ukraine
167    AE    United Arab Emirates
169    UY                 Uruguay
170    UZ              Uzbekistan
171    VE               Venezuela
172    VN                 Vietnam
173    PS      West Bank and Gaza
174    ZM                  Zambia
175    ZW                Zimbabwe
177    GL                 Denmark
186    MF                  France
189    SX             Netherlands
198    TC          United Kingdom
206    AU               Australia
221    CA                  Canada
254    CN                   China
3559   US                      US

[180 rows x 2 columns]